%p#notice= notice
  
%b First name:
= @user.first_name
%br
%b Last name:
= @user.last_name
%br
%b Role:
= @user.role.role
%br
%b Status:
= @user.status.status
%br Phones
- @user.phones.each do |phone|
  %div.phoes
    %span.phone= phone.phone
    %span.phone= phone.type_number
%br Cars
- @user.cars.each do |car|
  %div.cars
    %span.car= car.vim

= link_to 'Edit', edit_user_path(@user)
\|
= link_to 'Back', users_path
