%p#notice= notice
  
%b First name:
= @user.first_name
%br
%b Last name:
= @user.last_name
%br
%b Role:
= @user.role.role
%br
%b Status:
= @user.status.status
%br

= link_to 'Edit', edit_user_path(@user)
\|
= link_to 'Back', users_path
